<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pr-6 pl-6 pt-1 pb-1   sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500" [routerLink]="['/scolarite']" routerLinkActive="router-link-active">Scolarite</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-default-500">Versement de la caisse</a>
                </div>
            </div>
            <!-- Title -->
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="flex w-full min-w-0">

            <div class="flex flex-col w-full">
                <div class="flex w-full">

                    <mat-form-field class="w-1/3">
                        <mat-label>Filtrer</mat-label>
                        <input matInput (ngModelChange)="recherche($event)" [formControl]="searchControl" [placeholder]="'Search for a page or a contact'">
                    </mat-form-field>

                    <mat-form-field class="w-1/6 ml-5">
                        <mat-label>Date début</mat-label>
                        <input type="date" matInput [formControl]="datedebutControl" [(ngModel)]="datedebut">
                    </mat-form-field>

                    <mat-form-field class="w-1/6 ml-5">
                        <mat-label>Date fin</mat-label>
                        <input type="date" matInput [formControl]="datefinControl" [(ngModel)]="datefin">
                    </mat-form-field>
                    <div class="mat-form-field flex flex-col w-1/6">
                        <mat-label>&nbsp;</mat-label>
                        <button (click)="rechercherButton()" class="shadow rounded-2xl overflow-hidden cursor-pointer mt-2 ml-2 bg-card  bg-red-900" mat-stroked-button>
                            <mat-icon style="color: white;" svgIcon="iconsmind:refresh" [ngClass]="{'animate-spin-slow': actualiser['btn1']}" *ngIf="actualiser['btn1']"></mat-icon> &nbsp;
                            <label class="ml-0 cursor-pointer" style="color: white;" *ngIf="!actualiser['btn1']">Rechercher</label>
                        </button>
                    </div>
                    <div class="mat-form-field flex flex-col w-1/6">
                        <mat-label>&nbsp;</mat-label>
                        <button (click)="ajouter()" class="shadow rounded-2xl overflow-hidden cursor-pointer mt-2 ml-2 bg-card  bg-red-900" mat-stroked-button>
                            <mat-icon style="color: white;" svgIcon="iconsmind:refresh" [ngClass]="{'animate-spin-slow': actualiser['btn2']}" *ngIf="actualiser['btn2']"></mat-icon> &nbsp;
                            <label class="ml-0 cursor-pointer" style="color: white;" *ngIf="!actualiser['btn2']">Ajouter</label>
                        </button>
                    </div>
                    <div class="mat-form-field flex flex-col w-1/6">
                        <mat-label>&nbsp;</mat-label>
                        <button (click)="exporter()" class="shadow rounded-2xl overflow-hidden cursor-pointer mt-2 ml-2 bg-card  bg-green-900" mat-stroked-button>
                            <mat-icon style="color: white;" svgIcon="iconsmind:refresh" [ngClass]="{'animate-spin-slow': actualiser['btn2']}" *ngIf="actualiser['btn2']"></mat-icon> &nbsp;
                            <label class="ml-0 cursor-pointer" style="color: white;" *ngIf="!actualiser['btn2']">Exporter</label>
                        </button>
                    </div>
                </div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 w-full">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element">{{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="inscription_id">
                        <th mat-header-cell *matHeaderCellDef> Matricule </th>
                        <td mat-cell *matCellDef="let element">
                            <a class="whitespace-nowrap text-primary-500" [routerLink]="['/pedagogie/eleve-classe-detail/'+element.eleve_id]" routerLinkActive="router-link-active">{{element.matricule}}</a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="eleve_id">
                        <th mat-header-cell *matHeaderCellDef> Eleve </th>
                        <td mat-cell *matCellDef="let element"> {{element.nomprenom}}</td>
                    </ng-container>
                    <ng-container matColumnDef="annee_id">
                        <th mat-header-cell *matHeaderCellDef> Année </th>
                        <td mat-cell *matCellDef="let element"> {{element.annee_id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="montant">
                        <th mat-header-cell *matHeaderCellDef> montant </th>
                        <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
                    </ng-container>
                    <ng-container matColumnDef="dateversement">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.dateversement|date:'d/MM/YYYY hh:mm'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="created_by">
                        <th mat-header-cell *matHeaderCellDef> Auteur </th>
                        <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>

                        <td mat-cell *matCellDef="let element" class="text-justify" style="align-items: center;">
                            <span *ngIf="element.cancelled_at" class="shadow rounded-2xl overflow-hidden pr-2 pl-2 bg-card  bg-red-900 text-white" matTooltip="{{element.motif}} [{{element.cancelled_at}}]">annulé</span>

                            <button *ngIf="element.cancelled_at" class="hidden sm:inline-flex ml-3" mat-icon-button (click)="restorer(element)">
                                <mat-icon svgIcon="restore"></mat-icon> 
                            </button>
                            <button *ngIf="!element.cancelled_at" class="hidden sm:inline-flex ml-3" mat-icon-button (click)="annuler(element)">
                                <mat-icon svgIcon="heroicons_solid:ban"  class="text-red-900"></mat-icon> 
                            </button>

                            <button *ngIf="element.cancelled_at" class="hidden sm:inline-flex ml-3" mat-icon-button (click)="supprimer(element)">
                                <mat-icon svgIcon="cancel"  class="text-red-900"></mat-icon> 
                            </button>


                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element;let row; columns: displayedColumns;"></tr>
                </table>
            </div>

        </div>
    </div>

</div>