<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pr-6 pl-6 pt-1 pb-1   sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500" [routerLink]="['/acquereur']"
                        routerLinkActive="router-link-active">Acquereurs</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="whitespace-nowrap text-primary-500" [routerLink]="['/acquereur/show',acquereur.id]"
                        routerLinkActive="router-link-active">Information de l' acquereur</a>
                </div>
            </div>
            <!-- Title -->
        </div>
    </div>
    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
        <div class="flex flex-col w-full">
            <div class="mt-2 text-4xl sm:text-2xl font-extrabold tracking-tight leading-tight">
                Détail de l'acquereur
            </div>
            <!-- Form -->
            <div class="mt-2 sm:mt-2 pb-7 sm:p-6 sm:pb-7 shadow rounded-2xl bg-card">
                <div class="space-y-1 flex flex-col p-1">
                    <div class="w-full">
                        <div class="flex pt-0">
                            <div class="w-1/4 pr-l">
                                <label class="w-1/2">Type : </label>
                                <label class="w-1/2">{{acquereur?.typeAcquereur}}</label>
                            </div>
                            <div class="w-1/4 pr-l">
                                <label class="w-1/2">Téléphone : </label>
                                <label class="w-1/2">{{acquereur?.telephone}}</label>
                            </div>
                            <div class="w-1/4 pr-l">
                                <label class="w-1/2">E-mail </label>
                                <label class="w-1/2">{{acquereur?.email}}</label>
                            </div>
                            <div class="w-1/4 pr-l">
                                <div class="text-right">
                                    <button mat-icon-button (click)="editer()">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flex pt-2">
                            <div class="w-1/4 pr-l">
                                <label class="w-1/2">Document : </label>
                                <label class="w-1/2">{{acquereur?.typeDoc}} {{acquereur?.docIdentification}}</label>
                            </div>
                            <div class="w-1/4 pr-l">
                                <label class="w-1/2">Nom : </label>
                                <label class="w-1/2">{{acquereur?.nom}}</label>
                            </div>
                            <div class="w-1/4 pr-l">
                                <label class="w-1/2">Prénom : </label>
                                <label class="w-1/2">{{acquereur?.prenom}}</label>
                            </div>
                            <div class="w-1/4 pr-l">
                                <label class="w-1/2">Genre : </label>
                                <label class="w-1/2">{{acquereur?.genre}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <app-terrain-short [acquereur_id]="acquereur_id"></app-terrain-short>
        </div>
        <div class="flex flex-col w-full">
            <app-versement-short [acquisition]="acquereur"></app-versement-short>
        </div>
        <div class="flex flex-col w-full">
            <app-media [parent_id]="acquereur_id" [parent_typedocument]="'DOSSIER_ACQUEREURS'"></app-media>
        </div>
    </div>
</div>