<h2 mat-dialog-title>{{'Paiement de scolarité'}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">

    <form class=" " [formGroup]="versementForm">
        <div class="flex flex-col w-full ">

            <div class="flex">

            </div>

            <div class="flex">

                <mat-form-field class="w-1/3 pr-2" *ngIf="!inscription_id">
                    <mat-label>Classe </mat-label>
                    <mat-select [formControlName]="'classe_id'">
                        <mat-option [value]="classe.id" *ngFor="let classe of listeClasse" (click)="filterByClasse(classe.id)">{{classe.libelle}} [{{classe.code}}]</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-1/3 pr-2" *ngIf="!inscription_id">
                    <mat-label>Salle </mat-label>
                    <mat-select [formControlName]="'salle_classe_id'">
                        <mat-option [value]="salle_classe.id" *ngFor="let salle_classe of listeSalle" (click)="filterByClasseAndSalleClasse(salle_classe.id)">{{salle_classe.libelle}} [{{salle_classe.code}}]</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Eleve </mat-label>
                    <mat-select [formControlName]="'inscription_id'">
                        <mat-option [value]="eleve.id" *ngFor="let eleve of listeEleves">[{{eleve.matricule}}] {{eleve.nom}} {{eleve.prenom}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="flex">


                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Date versement</mat-label>
                    <input type="date" matInput [formControlName]="'dateversement'">
                </mat-form-field>


                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Montant</mat-label>
                    <input type="number" matInput [formControlName]="'montant'">
                </mat-form-field>

            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!versementForm.valid">Verser</button>
</mat-dialog-actions>