<h2 mat-dialog-title>{{"Paiement de l'acquisition " + versement.acquisition_id}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">

    <form class=" " [formGroup]="versementForm">
        <div class="flex flex-col w-full ">

            <div class="flex">

                <mat-form-field class="w-1/3 pr-2" *ngIf="!versement.acquisition_id">
                    <mat-label>Acquisition </mat-label>
                    <input type="number" matInput [formControlName]="'acquisition_id'">
                </mat-form-field>

                <mat-form-field class="w-1/3 pr-2" *ngIf="versement.site_id">
                    <mat-label>Site </mat-label>
                    <mat-select [formControlName]="'site_id'">
                        <mat-option [value]="site.id" *ngFor="let site of listeSites" (click)="filterBySite(site.id)">[{{site.libelle}}]</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-1/3 pr-2" *ngIf="versement?.acquereur_id">
                    <mat-label>Acquereur </mat-label>
                    <mat-select [formControlName]="'acquereur_id'">
                        <mat-option [value]="acquereur.id" *ngFor="let acquereur of listeAcquereurs" (click)="filterBySite(acquereur.id)">{{acquereur.genre}} {{acquereur.nom}} {{acquereur.prenom}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Terrain </mat-label>
                    <mat-select [formControlName]="'terrain_id'">
                        <mat-option [value]="terrain.id" *ngFor="let terrain of listeTerrains">{{terrain.code}} {{terrain.numero}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="flex">


                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Date versement</mat-label>
                    <input type="date" matInput [formControlName]="'dateversement'">
                </mat-form-field>


                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Montant</mat-label>
                    <input type="number" matInput [formControlName]="'montant'">
                </mat-form-field>

            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!versementForm.valid">Verser</button>
</mat-dialog-actions>