<h2 mat-dialog-title>{{action=='new'?'Ajouter un acquisition':'Modifier l\'acquisition '+acquisition.id}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">
    <form class=" " [formGroup]="acquisitionForm">
        <div class="flex flex-col w-full ">
            <div class="flex">
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Site</mat-label>
                    <mat-select [formControlName]="'site_id'" required>
                        <mat-option [value]="site.id" *ngFor="let site of listeSite"  (click)="filterTerrain(site.id)">{{site.libelle}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Terrain</mat-label>
                    <mat-select [formControlName]="'terrain_id'" required>
                        <mat-option [value]="terrain.id" *ngFor="let terrain of listeTerrainD">{{terrain.code}}-{{terrain.numero}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Acquereur</mat-label>
                    <mat-select [formControlName]="'acquereur_id'" required>
                        <mat-option [value]="acquereur.id" *ngFor="let acquereur of listeAcquereur">{{acquereur.genre}} {{acquereur.nom}} {{acquereur.prenom}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Date d'acquisition</mat-label>
                    <input matInput [formControlName]="'dateAcquisition'" type="date" required>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Montant</mat-label>
                    <input matInput [formControlName]="'montant'" type="currency" required>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!acquisitionForm.valid">
        {{action=='new'?'Enregister':'Modifier'}}</button>
</mat-dialog-actions>