<h2 mat-dialog-title>{{action=='new'?'Ajouter un utilisateur':'Modifier l\'utilisateur '+utilisateur.first_name}}</h2>
<mat-dialog-content class="  sm:p-6 w-200">


    <form class=" " [formGroup]="utilisateurForm">
        <div class="flex flex-col w-full ">
            <div class="flex">
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Nom</mat-label>
                    <input matInput [formControlName]="'last_name'" required>
                    <mat-error *ngIf="utilisateurForm.get('last_name').hasError('required')">
                        Nom Obligatoire
                    </mat-error>
                    <mat-error *ngIf="utilisateurForm.get('last_name').hasError('minlength')">
                        Le nom doit dépasser 2 caractères
                    </mat-error>
                    <mat-error *ngIf="utilisateurForm.get('last_name').hasError('maxlength')">
                        Le nom ne doit pas dépasser 100 caractères
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Prénom(s)</mat-label>
                    <input matInput [formControlName]="'first_name'" required>
                    <mat-error *ngIf="utilisateurForm.get('first_name').hasError('required')">
                        Prénom Obligatoire
                    </mat-error>
                    <mat-error *ngIf="utilisateurForm.get('first_name').hasError('minlength')">
                        Le prénom doit dépasser 2 caractères
                    </mat-error>
                    <mat-error *ngIf="utilisateurForm.get('first_name').hasError('maxlength')">
                        Le prénom ne doit pas dépasser 100 caractères
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex">
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>E-mail</mat-label>
                    <input matInput [formControlName]="'email'" required>
                    <mat-error *ngIf="utilisateurForm.get('email').hasError('required')">
                        E-mail obligatoire
                    </mat-error>
                    <mat-error *ngIf="existingEmail.value">
                        cet E-mail a déja été pris en compte.
                    </mat-error>
                    <mat-error *ngIf="utilisateurForm.get('email').hasError('email')">
                        Svp, veuillez entrer un e-mail valide
                    </mat-error>
                    <mat-error *ngIf="utilisateurForm.get('email').hasError('maxlength')">
                        Le prénom ne doit pas dépasser 100 caractères
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Téléphone</mat-label>
                    <input matInput [formControlName]="'telephone'">
                    <mat-error *ngIf="utilisateurForm.get('telephone').hasError('required')">
                        Téléphone obligatoire
                    </mat-error>
                    <mat-error *ngIf="utilisateurForm.get('telephone').hasError('minlength')">
                        Le numéro de téléphone doit dépasser 2 caractères
                    </mat-error>
                    <mat-error *ngIf="utilisateurForm.get('telephone').hasError('maxlength')">
                        Le numéro de téléphone ne doit pas dépasser 18 caractères
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex">
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Role</mat-label>
                    <mat-select [formControlName]="'role'" required>
                        <mat-option [value]="'VISITEUR'">VISITEUR</mat-option>
                        <mat-option [value]="'COLLECTE'">COLLECTE</mat-option>
                        <mat-option [value]="'USER'">USER</mat-option>
                        <mat-option [value]="'ADMIN'" *ngIf="user.role=='ADMIN'">ADMIN</mat-option>
                    </mat-select>
                    <mat-error *ngIf="utilisateurForm.get('role').hasError('required')">
                        Role Obligatoire
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex" *ngIf="action=='new'">
                <!-- Password field -->
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Mot de passe</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField required>
                    <button mat-icon-button type="button" (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="utilisateurForm.get('password').hasError('required')">
                        Veuillez saisir un mot de passe
                    </mat-error>
                    <mat-error *ngIf="utilisateurForm.get('password').hasError('minlength')">
                        Le mot de passe doit dépasser 2 caractères
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-1/2 pr-1">
                    <mat-label>Confirmer mot de passe</mat-label>
                    <input matInput type="password" [formControlName]="'password_confirmation'" required #passwordFieldConfirmation>
                    <button mat-icon-button type="button" (click)="passwordFieldConfirmation.type === 'password' ? passwordFieldConfirmation.type = 'text' : passwordFieldConfirmation.type = 'password'" matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordFieldConfirmation.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordFieldConfirmation.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="utilisateurForm.get('password_confirmation').hasError('required')">
                        Confirmation du mot de passe obligatoire
                    </mat-error>

                    <mat-error *ngIf="utilisateurForm.get('password_confirmation').value!==utilisateurForm.get('password').value">
                        Les mots de passe ne sont pas identique
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!utilisateurForm.valid">
        {{action=='new'?'Enregister':'Modifier'}}</button>
</mat-dialog-actions>