<div class="flex flex-col w-full min-w-0">
    <div class="mt-2 text-4xl sm:text-2xl font-extrabold tracking-tight leading-tight">
        Documents
    </div>
    <div class="mt-2 sm:mt-2 pb-7 sm:p-6 sm:pb-7 shadow rounded-2xl bg-card flex flex-col">
        <div class="flex">
            <div class="w-full pr-l text-right">


                    <button class="h-6 min-h-6 px-2 text-sm rounded-full bg-hover cursor-pointer bg-primary-900" mat-button
                        (click)="addDocument()">
                        <mat-icon style="color: white;" svgIcon="iconsmind:refresh" class="animate-spin-slow"
                            *ngIf="data['btnadd']"></mat-icon> &nbsp;
                        <mat-icon style="color: white;" svgIcon="iconsmind:add" *ngIf="!data['btnadd']"></mat-icon>
                        &nbsp;
                    </button>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <table mat-table [dataSource]="dataSourceDocument" class="w-full" id="dvContainerdvContainer">
                <ng-container matColumnDef="type_documents">
                    <th mat-header-cell *matHeaderCellDef> type_documents </th>
                    <td mat-cell *matCellDef="let element"> {{element.type_documents}} </td>
                </ng-container>
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="libelle_document">
                    <th mat-header-cell *matHeaderCellDef> Libelle document </th>
                    <td mat-cell *matCellDef="let element"> {{element.libelle_document}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>

                    <td mat-cell *matCellDef="let element" class="text-justify">
<div class="flex">
                        <button class="h-6 min-h-6 hidden sm:inline-flex ml-3" mat-icon-button (click)="supprimerDocument(element)">
                            <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        </button>
                        <button class="h-6 min-h-6 hidden sm:inline-flex ml-3" mat-icon-button (click)="imprimerDocument(element)">
                            <mat-icon style="color: white;" svgIcon="iconsmind:refresh" class="animate-spin-slow"
                                *ngIf="data['btno'+element.id]"></mat-icon> &nbsp;
                            <mat-icon svgIcon="heroicons_solid:printer" *ngIf="!data['btno'+element.id]"></mat-icon>
                        </button>
                    </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef> Création </th>
                    <td mat-cell *matCellDef="let element"> {{element.created_at|date:"dd/MM/YY"}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsDocument"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDocument;"></tr>
            </table>
        </div>

    </div>
</div>