<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
        <div class="flex flex-col w-full">

            <div class="mt-2 text-4xl sm:text-2xl font-extrabold tracking-tight leading-tight">
                Détail du acquisition
            </div>
            <!-- Form -->
            <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
                <!-- Alert -->
                <fuse-alert class="mb-8" *ngIf="alert" [type]="alert.type" [showIcon]="false">
                    {{alert.message}}
                </fuse-alert>
                <div class="space-y-1 flex">


                    <div class="flex flex-col w-2/3 p-6">

                        <div class="flex flex-col w-full">
                            <div class="flex pt-0">
                                <div class="w-1/2 pr-l">
                                    <label class="w-1/2">Libellé : </label>
                                    <label class="w-1/2">{{acquisition?.code}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col w-full">

                        </div>
                    </div>

                    <div class="flex flex-col w-1/3">
                        <div class="mb-6 flex">
                            <div class="ml-auto -mt-2 w-1/2 text-left">
                                <button mat-icon-button (click)="editer()">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="mt-6 sm:mt-6 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
            </div>
        </div>
    </div>
</div>